<div class="container">
  <div class="row">
    <div class="column column-60 column-offset-20">
      <h3>
        <%= @question.title %>
      </h3>

      <h5>
        <%= @question.body %>
      </h5>

      <p>
      <%= @question.views_count %> view(s) |
      +<%= @question.positive_votes %> / -<%= @question.negative_votes %>
      </p>

      <%= link_to "Upvote", upvote_question_path(@question), "data-method": "put" %> |
      <%= link_to "Downvote", downvote_question_path(@question), "data-method": "put" %> |
      <%= link_to 'Edit', edit_question_path(@question) %> |
      <%= link_to 'Back', questions_path %>
    </div>
  </div>

  <div class="separator"></div>

  <% if @question.answers.count > 0 %>
    <div class="row">
      <div class="column column-60 column-offset-20">
        <h4>Answers (<%= @question.answers.count %>)</h4>

        <%= render partial: "answer", collection: @question.answers %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column column-60 column-offset-20">
      <h4>New answer:</h4>
      <%= form_with(model: [@question, @question.answers.build]) do |form| %>
        <div class="field">
          <%= form.label :text %>
          <%= form.text_area :text %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
